div.code {
	color: #ffffff;
	background-color: #000000;
}

.center {
	text-align: center;
}

div.code {
	color: #ffffff;
	background-color: #000000;
	width:60em;
}

.page_top {
	text-align: center;
	background-color: #26948e;
	margin-bottom: 30px;
	display: block;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 9999;
	text-align: center;
	padding: 0 auto;
}

.page_top a{
	color: #fff;
	display: inline-block;
	padding: 20px;
	font-size: 17px;
}

.page_top a:hover {
	background-color: #3bbfb8;
}

ul.number {
	list-style-type: decimal;
}

h1.side {
	font-size: 1.2em;
	text-align: center;
	border-top: none;
	border-bottom: none;
}

h2.side {
	font-size: 1em;
	text-align: center;
	border-top: none;
	border-bottom: none;
}

h1.title {
	margin-top: 65px;
}

h1 {
	background-color: #d9fff7;
	border-top: solid 5px #26948e;
	border-bottom: solid 5px #26948e;
}

h2 {
	background-color: #d9fff7;
	border-bottom: solid 3px #26948e;
	border-radius: 0px 1em 0px 0px;
	width: 90%;
	font-size: 1.6em;
}

h3 {
	background-color: #d9fff7;
	border-bottom: dashed 2px #26948e;
	width: 65%;
	font-size: 1.4em;
}

h4 {
	background-color: #d9fff7;
	border-left: solid 3px #26948e;
	font-size: 1em;
	width: 30%;
}

img.map {
	width: 90%;
}

body.side {
	background-image: none;
	background-color: #fafffe;
}

body.body {
	background-image: none;
	background-color: #fafffe;
}


iframe.side {
	border: 2px solid #7ec5e2;
	width: 20vw;
	height: 70vw;
	display: inline;
	margin-top: 0.5em;
	vertical-align: top;
}

iframe.body {
	border: 2px solid #7ec5e2;
	width: 75vw;
	display: inline;
	margin-top: 0.5em;
	vertical-align: top;
}

table {
	border-collapse: collapse;
}

th,td {
	border: solid 1px;
	padding: 0.5em;
	border-color: #fff;
}

th.non {
	background-color: #fafffe;
	border-color: #fafffe;
}

th {
	background-color: #ade1ff;
}

td {
	background-color: #adfffe;
	text-align: center;
}

li {
	margin-bottom: 1em;
}

p.tag {
	font-color: #4a4c4f;
	background-color: #aeb3ba;
	display: inline;
}

body {
	background-image: url("./images/back.png");
	font-family: sans-serif;
	font-size: 23px;
}

@media screen and (max-width: 950px) {
	iframe.side {
		border: 2px solid #7ec5e2;
		width: 95vw;
		height: 30vw;
		display: block;
		margin-top: 0.5em
	}
	
	iframe.body {
		border: 2px solid #7ec5e2;
		width: 95vw;
		height: 75vw;
		display: block;
		margin-top: 0.5em
	}
}

@font-face {
	font-family: Ferela;
	src: url(./fonts/FerelaTest.ttf);
}

.ferela {
	font-family: Ferela;
}

.red {
	color:#ff0000;
}

.blue {
	color:#0000ff;
}

.green {
	color:#45e307;
}

.yellow {
	color:#ffff00;
}

.right-blue {
	color:#00ffff;
}

.purple {
	color:#ff00ff;
}